<div class="container my-5">
    <h1 class="mb-3"> Edit New Student</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateStudent()">
                <div class="form-group mb-3">
                    <label for="id1" class="mb-1"> ID </label>
                    <input type="text" class="form-control" id="id1" name="id1" readonly [(ngModel)] = "studentDetails.id">
                  </div>
                
                <div class="form-group mb-3">
                  <label for="fname" class="mb-1"> First name </label>
                  <input type="text" class="form-control" id="fname"  name="firstName" [(ngModel)] = "studentDetails.firstName">
                </div>
                
                <div class="form-group mb-3">
                    <label for="lname" class="mb-1"> Last name </label>
                    <input type="text" class="form-control" id="lname"  name="lastName" [(ngModel)] = "studentDetails.lastName">
                </div>
                
                <div class="form-group mb-3">
                    <label for="std" class="mb-1"> Student Id </label>
                    <input type="text" class="form-control" id="std" name="studentId" [(ngModel)] = "studentDetails.studentId">
                </div>

                <div class="form-group mb-3">
                    <label for="email" class="mb-1"> Email </label>
                    <input type="text" class="form-control" id="email"  name="email" [(ngModel)] = "studentDetails.email">
                </div>

                <div class="form-group mb-3">
                    <label for="gender" class="mb-1"> Gender </label>
                    <input type="text" class="form-control" id="gender"  name="gender" [(ngModel)] = "studentDetails.gender">
                </div>

                <div class="form-group mb-3">
                    <label for="dpt" class="mb-1"> Department </label>
                    <input type="text" class="form-control" id="lname"  name="did" readonly [(ngModel)] = "studentDetails.did ">
                </div>

                <div class="form-group mb-3">
                    <label for="phone" class="mb-1"> Phonenumber </label>
                    <input type="number" class="form-control" id="phone"  name="phoneNumber" [(ngModel)] = "studentDetails.phoneNumber">
                </div>
                
                <button type="submit" class="btn btn-primary"> Save Student Update </button>
                <button type="button" class="btn btn-danger mr-5" (click)="deleteStudent(studentDetails.id)"> Delete Student </button>
            </form>
        </div>
    </div>
    

</div>